label {
  display: block;
  color: white;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #030f26;
}

.container {
  align-items: center;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.header-title {
  text-align: center;
  color: white;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.col{
  padding: 0px 15px;
}

.location-input {
  text-align: center;
  width: 320px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
}

.submit-btn {
  position: relative;
  left: 135px;
}

.recall-container {
  width: 60%;
  margin: auto;
  padding: 10px;
}

.recall {
  border: 1px solid black;
  margin: 5px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: white;
}

.recall:hover{
  border: 2px solid lightskyblue;
}

.recall-row {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.recall-detail {
  border: 1px solid black;
  margin-top: 30px;
  background-color: white;
}

.product-title {
  margin-top: 0;
}

.reason-text {
  margin-top: 2px;
}

.footer-recall {
  margin-bottom: 0;
}

.outer {
  height: 100%;
  width: 100%;
  padding: 20px;
  padding-bottom: 50px;
}

.hide {
  display: none;
}
